{% extends "blog/base.html" %}

{% block title %} Home {% endblock %}

{% load static %}

{% block content %}
      <div class="container">
        <div class="row">
          <div class="p-3 border bg-light col-md overflow-hidden">
            One of three columns  One of three columns One of three columns
            One of three columns One of three columns One of three columns
            One of three columns One of three columns One of three columnss
            
          </div>
          <div class="col-sm p-3 border bg-light">
            One of three columns
          </div>
          <div class="p-3 border bg-light col-sm">
            One of three columns
          </div>
        </div>
      </div>

{% endblock %}
